.app {
  display: grid;
  grid-template-columns: 1fr var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
}

.body-content {
  padding: 2rem;
  position: relative;
  width: 100%;
  transition: transform 250ms ease, opacity 250ms ease;
  transform-origin: var(--origin-x, 100%) var(--origin-y, 100%);
}
